.education {
  /* background-color: lightgoldenrodyellow; */
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .education {
    grid-area: education;
  }

  .education[data-is-editing='true'] {
    display: flex;
  }

  .education[data-is-editing='true'] > div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .education[data-is-editing='true'] > div > div {
    flex: 1;
    display: grid;
  }

  .education[data-is-editing='true'] > div > div > form > ul > .btn-container > button {
    /* padding: 0.5rem clamp(0.5rem, 3vw, 2rem); */
    /* display: flex; */
    /* flex: 1; */
  }
}
