/* General form styling */
form {
  background-color: var(--background-color-form);
  margin-top: 0.5rem;
  border: 2px solid #0e1c36;
  padding: 1rem;
}

/* Excludes the first form-item
 * Excludes a form-item with an input with the attribute data-sub-key='year'
 */
.form-item:not(:first-of-type, :has([data-sub-key='year'])) {
  margin-top: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item > .form-control {
  width: 100%;
  height: 32px;
  background-color: var(--background-color-primary);
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  border: 2px solid black;
  font-family: var(--font-family-primary);
}

.form-item > .form-control::placeholder {
  color: grey;
}

.form-item > label {
  font-size: clamp(1rem, 5vw, 1.25rem);
}

.form-item > .form-control:focus {
  background-color: rgb(255, 255, 255);
}

.form-item > .error-message {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  color: #ff0000;
}

.btn-form {
  width: max-content;
}

.visibility-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media screen and (min-width: 768px) {
  .form-item > .form-control {
    /* width: max-content; */
  }

  .form-item:has(input[data-sub-key='year']) {
    background-color: red;
  }
}
