/* General form styling */
form {
  background-color: var(--background-color-form);
  margin-top: 0.5rem;
  border: 2px solid #0e1c36;
  padding: 1rem;
}

/* Excludes the first form-item
 * Excludes a form-item with an input with the attribute data-sub-key='year'
 */
.form-item:not(:first-of-type, :has([data-sub-key='year'])) {
  margin-top: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item > .form-control {
  width: 100%;
  height: 32px;
  background-color: var(--background-color-primary);
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  border: 2px solid black;
  font-family: var(--font-family-primary);
}

.form-item > .form-control::placeholder {
  color: grey;
}

.form-item > .form-control.error-input {
  border-color: red;
}

.form-item > .form-control.valid-input {
  border-color: green;
}

.form-item > label {
  font-size: clamp(1rem, 5vw, 1.25rem);
}

.form-item > .form-control:focus {
  background-color: rgb(255, 255, 255);
}

.form-item > .error-message {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  color: #ff0000;
}

.btn-form {
  width: max-content;
}

.visibility-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media screen and (min-width: 768px) {
  .form-item > .btn-container > button {
    width: 100%;
  }

  .form-item:has(.btn-container) {
    column-gap: 0.5rem;
  }

  .form-item:has(.btn-container) > .form-control {
    grid-column: 1 / 3;
  }

  .form-item:has(.btn-container) {
    display: grid;
    grid-template-columns: repeat(2, 1fr) max-content;
  }

  .form-item:has(.btn-container):not(:has([name='skill'])) {
    /* grid-template-columns: repeat(2, 1fr) max-content; */
    grid-template-columns: repeat(2, 1fr) minmax(50px, 122.7px);
  }

  .form-item:has(.btn-container) > label {
    grid-column: 1 / 4;
  }

  .form-item:has(.btn-container) > ul {
    grid-column: 1 / 4;
  }

  .form-item:has(.btn-container) > ul > .form-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr) max-content;
  }

  .form-item > .form-control {
    /* width: max-content; */
  }

  .form-item:has(input[data-sub-key='year']) {
    /* background-color: red; */
  }
}
