header[data-is-editing='false'] {
  display: flex;
  align-items: end;
  border-bottom: 2px solid #000000;
}

header[data-is-editing='false'] > div {
  /* flex-basis: 100%; */
}

@media screen and (min-width: 768px) {
  header {
    grid-area: header;
  }

  header[data-is-editing='true'] > div > div > form > ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  header[data-is-editing='true'] > * > form > ul > li:last-of-type {
    /* grid-area: job; */
  }

  header[data-is-editing='true'] > * > form > ul > li:last-of-type > .form-control {
    /* width: 100%; */
  }

  header[data-is-editing='true'] > * > form > ul > .btn-container {
    /* position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.5rem; */
  }
}
