.sticky .icon.github {
  color: #ffffff;
}

.sticky .icon.github:hover {
  color: var(--background-color-form);
}

.icon.github {
  width: clamp(1.5rem, 5vw, 2rem);
  height: auto;
  color: var(--accent-color);
}

.icon.github:hover {
  animation: rotate 1500ms infinite linear;
  color: rgb(128, 0, 128);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (hover: none) {
  .sticky .icon.github {
    color: var(--background-color-form);
  }
}
